# Dependencies
/node_modules
/vendor

# Environment files
/.env
/.env.*.local
/.env.*.example
!.env.example

# Build files
/public/build
/public/hot
/public/storage
!/public/.gitkeep

# Storage
/storage/*.key
/storage/*.log
/storage/framework/*
/storage/logs/*
!/storage/framework/.gitkeep
!/storage/logs/.gitkeep

# Local development
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpunit.cache/

# IDE
/.fleet
/.idea
/.vscode
*.sublime-*

# Build files - we want to keep these
!/build.sh
!/render.yaml

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Additional Laravel specific
/.vagrant
/storage/pail
.phpactor.json
